<nav class="navbar navbar-expand-md bg-body-tertiary d-flex justify-content-between fw-semibold">
  <div class="d-inline-flex align-items-center">
    <a class="navbar-brand fs-2" href="#">
      <img src="../favicon.ico" alt="icon" width="70" height="70" class="d-inline-block align-text-center" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" (click)="$event.preventDefault();">
      Melodías
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <div></div>
    <ul class="navbar-nav fs-2">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Piano</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link disable" aria-disabled="true" aria-current="page" href="#">Guitarra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disable" aria-disabled="true" aria-current="page" href="#">Otros</a>
      </li> -->
      
    </ul>
    <ul class="navbar-nav fs-2">
      <li class="nav-item dropdown">
        <button class="nav-link btn-group-vertical btn-group-vertical-lg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pedrito
          <img src="../assets/images/profilePhoto.png" alt="Profile Photo" width="70" height="70" class="d-inline-block align-text-center">
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>